<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="http://localhost/zadanie0102/pub/">Strona główna</a></li>
            <li><a href="http://localhost/zadanie0102/pub/upload">Wgraj mema</a></li>
            <li><a href="http://localhost/zadanie0102/pub/admin">Panel admina</a></li>
            <li><a href="http://localhost/zadanie0102/pub/login">Zaloguj się</a></li>
            <li><a href="http://localhost/zadanie0102/pub/register" class="active">Zarejestruj się</a></li>
        </ul>
    </nav>
{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{ pageTitle|default("Brak tytułu podstrony")}}</h1>
    <form action="" method="post">
        <label for="emailInput">Podaj adres e-mail:</label>
        <input type="email" name="email" id="emailInput"><br>
        <label for="passwordInput">Podaj hasło:</label>
        <input type="password" name="password" id="passwordInput"><br>
        <input type="submit" name="submit" value="Zarejestruj">
    </form>
</div>
{% include 'footer.html.twig' %}