<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="http://localhost/zadanie0102/pub/">Strona główna</a></li>
            <li><a href="http://localhost/zadanie0102/pub/upload" class="active">Wgraj mema</a></li>
            <li><a href="http://localhost/zadanie0102/pub/admin">Panel admina</a></li>
            <li><a href="http://localhost/zadanie0102/pub/login">Zaloguj się</a></li>
            <li><a href="http://localhost/zadanie0102/pub/register">Zarejestruj się</a></li>
        </ul>
    </nav>
{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{ pageTitle|default("Brak tytułu podstrony")}}</h1>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="titleInput">Tytuł obrazka</label>
        <input type="text" name="title" id="titleInput"><br>
        <label for="uploadedFileInput">
            Wybierz plik do wgrania na serwer:
        </label><br>
        {% if user is defined %}
        <input type="hidden" name="userId" value={{ user.getId() }}>
        {% endif %}
        <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
        <input type="submit" value="Wyślij plik" name="submit"><br>
    </form>
</div>
{% include 'footer.html.twig' %}